<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25465352063-q3e5qv67j14nh5vua3ee8420ccni7dgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25465352063-q3e5qv67j14nh5vua3ee8420ccni7dgl</string>
	<key>API_KEY</key>
	<string>AIzaSyAqTFykHV2RS2j-kcDBrGO8sY6IdMtsDco</string>
	<key>GCM_SENDER_ID</key>
	<string>25465352063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookly</string>
	<key>PROJECT_ID</key>
	<string>bookly-25b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>bookly-25b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25465352063:ios:37d297e73fded3488cf44a</string>
</dict>
</plist>